body {
  background-color: #09f;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  text-align: center;
}

ul li {
  list-style: none;
}

h1 {
  text-align: center;
}